{% extends 'base.html' %}

{% block content %}

    <br>
    <table class="table table-striped table-bordered table-hover">
        <thead class="table-dark">
            <tr>
                <th>Имя</th>
                <th>Возраст</th>
                <th>Пол</th>
            </tr>
        </thead>
        <tbody>
            {% for costumer in costumers %}
                <tr>
                    <td>{{ costumer.name }}</td>
                    <td>{{ costumer.age }}</td>
                    <td>{{costumer.gender}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}