a:link /*hover, visited, active*/ {
    text-decoration: none;
}

/* bootstrap */
.bg-primary{
    background-color: #212529 !important;
}

.card {
    border: 1px solid white !important;
}

/* news */
.news-body {
    height: 100%;
    background: #080808;
}

.news-main {
    background: #171717;
    border: 1px solid;
    margin: auto;
    margin-top: 10px;
    width: 60%;
    padding: 20px;
    font-family: -apple-system, Arial, sans-serif;
}

.news-title {
    font-family: sans-serif;
    font-size: 1.5rem;
    color: #ddd;
}

.news-title_info {
    padding: 5px;
    color: #aaa;
}

.news-views {
    display: flex;
    justify-content: flex-start;
    gap: 15px;
    padding-bottom: 10px;
}

.news-article {
    padding: 10px 0px 30px 0px;
    line-height: 1.5rem;
    color: #ddd;
}
