<a href ="/">
    <button style="display: inline-block; cursor: pointer; background-color: white; border-radius: 4px; padding: 8px 16px; font-size: 16px; font-weight: 600; color: #2d3748; border: 1px solid gray; line-height: 26px; box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);">    
        Главная
</button>
</a>

<a href ="/costumers/">
    <button style="display: inline-block; cursor: pointer; background-color: white; border-radius: 4px; padding: 8px 16px; font-size: 16px; font-weight: 600; color: #2d3748; border: 1px solid gray; line-height: 26px; box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);">    
        Покупатели
</button>
</a>

<a href ="/news/">
    <button style="display: inline-block; cursor: pointer; background-color: white; border-radius: 4px; padding: 8px 16px; font-size: 16px; font-weight: 600; color: #2d3748; border: 1px solid gray; line-height: 26px; box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);">    
        Новости
</button>
</a>

<a href ="/admin/">
    <button style="display: inline-block; cursor: pointer; background-color: white; border-radius: 4px; padding: 8px 16px; font-size: 16px; font-weight: 600; color: #2d3748; border: 1px solid gray; line-height: 26px; box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);">
    Админка
</button>
</a>

<h1>{{ product.name}}</h1>
<div>{{ product.description }}</div>
<p>Цена: {{ product.price }}</p>
<div>Кол-во: {{ product.qty }}</div>
<div>Категория: {{ product.category }}</div>
<div>Просмотров: {{ product.views_qty }}</div>
<div>Уникальные просмотры: {{ product.costumer_views.count }}</div>
