<a href ="/">
    <button style="display: inline-block; cursor: pointer; background-color: white; border-radius: 4px; padding: 8px 16px; font-size: 16px; font-weight: 600; color: #2d3748; border: 1px solid gray; line-height: 26px; box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);">    
        Главная
</button>
</a>

<a href ="/costumers/">
    <button style="display: inline-block; cursor: pointer; background-color: white; border-radius: 4px; padding: 8px 16px; font-size: 16px; font-weight: 600; color: #2d3748; border: 1px solid gray; line-height: 26px; box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);">    
        Покупатели
</button>
</a>

<a href ="/news/">
    <button style="display: inline-block; cursor: pointer; background-color: white; border-radius: 4px; padding: 8px 16px; font-size: 16px; font-weight: 600; color: #2d3748; border: 1px solid gray; line-height: 26px; box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);">    
        Новости
</button>
</a>

<a href ="/admin/">
    <button style="display: inline-block; cursor: pointer; background-color: white; border-radius: 4px; padding: 8px 16px; font-size: 16px; font-weight: 600; color: #2d3748; border: 1px solid gray; line-height: 26px; box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);">
    Админка
</button>
</a>

{% for new in news %}

    <div style="text-align: left; margin-top: 45px;">   
        <h1>  {{ new.title }}  </h1>
    </div>
    
    <div style="font-size:20px; height: auto; width: auto;">   
        <p>  {{ new.article }}  </p>
    </div>
    
    <div style="background-color: #d9d9d9; height: 25px; width: 160px; border-radius: 10px; text-align: center; padding: 2px; float: right;">
        <div style="text-align: center;">  👁️{{new.view}} просмотров </div>
    </div>

{% endfor %}