<body class="news-body">
    {% extends 'base.html' %} 
    {% block content %}

        <div class="news-main">
            <h1 class="news-title">{{ new.title }}</h1>
            <div class="news-title_info"> 
                <div class="news-views">
                    <div>🕐Просмотры: {{ new.views }}</div>
                    <div>👁️Уникальные просмотры: {{ new.user_views.count }}</div>
                </div>
                <div>📜Категория: {{ new.category }}</div>
            </div>
            <div class="news-article">{{ new.article }}</div>
            <img src="{{ new.photo_url }}" style="width: 100%">
            <h1 class="news-title">Пользователи, просмотревшие данную новость:</h1>
            {% for user in new.user_views.all %}
                <ul>
                    <li style="color: #ddd;">{{ user.username }}</li>
                <ul>
            {% endfor %}
        </div>

    {% endblock %}
</body>
    


